importFrom(lubridate, "%within%")
export(using_packages)
export(find.spikes)
export(plot_durations)
export(lseq)
export(get.sensor.arrangement)
export(remove.background)
export(perform.event.detection)
export(perform.localization)
export(perform.quantification)
export(scale.sims)
export(create.info.mask)
export(get.combine.info)
export(get.durations)
export(get.event.counts)
export(estimate_durations)
